
/*=========== FLEX BOX CLASSES =============*/

.flex{ display: flex; }
.flex-row{ flex-direction: row; }
.flex-column{ flex-direction: column; }

.flex-j-start{ justify-content: flex-start; }
.flex-j-end{ justify-content: flex-end; }
.flex-j-center{ justify-content: center; }
.flex-j-between{ justify-content: space-between; }

.flex-a-start{ align-items: flex-start; }
.flex-a-end{ align-items: flex-end; }
.flex-a-center{ align-items: center; }
.flex-a-stretch{ align-items: stretch; }
.flex-wrap{ flex-wrap: wrap; }

.flex-1{ flex: 1; }
.flex-2{ flex: 2; }
.flex-3{ flex: 3; }
.flex-4{ flex: 4; }
.flex-5{ flex: 5; }
.flex-6{ flex: 6; }

/*=========== GENERAL STYLING =============*/

*{box-sizing: border-box;}

body{
	font-family: 'helvetica neue', helvetica, sans-serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}
.container{
	max-width: 1000px;
	margin: 100px auto;
}
ul{
	list-style: none;
	margin: 0;
}
li{
	text-decoration: none;
}

/*=========== BUTTONS =============*/

.button-secondary,
.button-submit,
.button-upload {
    color: white !important;
    border-radius: 4px !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
}
.button-upload {
    background-color: #c0392b !important; /* this is a red */
}
.button-secondary {
    background: #000 !important; /* this is a blue */
}
.button-submit {
    background: #34495e !important; /* this is a dark blue */
}

/*=========== HEADER =============*/
header{
	background: #000;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	position: fixed;
	top: 0;
	width: 100%;
}
.head-container{
	max-width: 1000px;
	margin: 0 auto;
}
header h1 a{
	color: #fff;
}
header a{
	text-decoration: none;
	padding: 5px 10px;
	margin: 10px 5px; 
}

/*=========== MAIN =============*/

.image-container{
	margin: 10px;
	width: 250px;
	height: 250px;
	overflow: hidden;
}
.image-container img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
/*=========== FORM =============*/
.form-container{
	width: 200px;
	margin: 0 auto;
}
.form-row{
	margin: 0.8em 0;
}
legend h3{
	margin: 0;
}

